
<div class="container">

<h1>RD Temp</h1>

<% if !current_user.nil? && current_user.role == "admin" %>
  <%= link_to "Créer une nouvelle chambre froide", new_chamber_path, class: "btn btn-primary mb-2" %>
<% end %>

  <div class="row">
  <% @chambers.each do |chamber| %>
    <div class="col-md-4 card text-center mb-1">
      <div class="card-body">
        <img class="img-thumbnail" src="https://www.dagard.com/files/2020/03/euexpo-cuisine-516-lyon-02-2019-18-e1585214779656.jpg" alt="chambre froide">
        <h3><%= chamber.name %></h3>
        <%= link_to "Voir le détail", chamber_path(chamber), class: "btn btn-info" %>

      </div>
    </div>
    <% end %>
  </div>

</div>
